/* style.css */
html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #111827; /* Garante que a cor de fundo seja consistente */
}

/* Aplica a nova fonte a toda a aplicação Vuetify */
.v-application {
    font-family: 'Inter', sans-serif !important;
}